package store

import (
)

// CacheStore denotes <%= domainname %> cache store.
type CacheStore struct {
}

// NewCacheStore creates <%= domainname %> cache store.
func NewCacheStore() *CacheStore {
	return &CacheStore{
	}
}

//TODO: add cachestore function here
